/* Base styles */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.container {
  background-color: var(--container-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  display: grid;
  gap: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search {
  display: grid;
  gap: 10px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#location {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  flex-grow: 1;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.settings {
  display: grid;
  gap: 10px;
}

#weather {
  font-size: 18px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.5s;
}

#weather.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }

  #location {
    width: 100%;
  }

  button {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
}

/* Light Theme Variables */
:root {
  --bg-color: #f0f0f0;
  --text-color: #333;
  --container-bg-color: #fff;
}

/* Dark Theme Variables */
:root.dark-mode {
  --bg-color: #333;
  --text-color: #fff;
  --container-bg-color: #444;
}

/* Accessibility improvements */
input:focus,
button:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}
